window#waybar {
  background: transparent;
  border-bottom: transparent;
}

#clock {
  background: #fabd2f; /* bright yellow */
  color: #1d2021;
  padding: 2px 8px;
  margin: 0 10px;
  border-radius: 6px;
}
#custom-power {
  background: #fbf1c7; /* bright blue */
  color: #1d2021;
  padding: 2px 8px;
  margin: 0 10px;
  border-radius: 6px;
}
#custom-brightness, #custom-mobile-bb, #pulseaudio, #network, #battery, #tray {
  background: #83a598; /* bright blue */
  color: #fbf1c7;
  padding: 2px 8px;
  margin: 0 10px;
  border-radius: 6px;
}

#custom-brightness:hover,
#battery:hover,
#network:hover,
#pulseaudio:hover,
#custom-mobile-bb:hover,
#tray:hover {
  background: #fbf1c7; /* light bg */
  color: #1d2021;      /* dark text */
}

#custom-power:hover {
  background: #1d2021; /* light bg */
  color: #1d2021;      /* dark text */
}
